<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/user-profile.css">
    <title>Profile Page</title>
  </head>
  <body>
    <div class="container">
        <div class="main-body">

              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->

              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="images/default-profile-pic.jpeg" alt="profie pic" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>@<%= squadsName %></h4>
                          <button type="submit" class="btn btn-primary">Logout</button>
                        </div>

                        <% if (fortniteName) { %>
                        <div class="mt-3">
                          <form action="/match/fortnite" method="get">
                            <button class="btn btn-primary">Find Fortnite Teammates</button>
                          </form>
                        </div>
                        <% } else { %>
                        <div class="mt-3">
                          <form action="/profile" method="get">
                            <button class="btn btn-primary">Link Fortnite Account</button>
                          </form>
                        </div>
                        <% } %>

                        <% if (apexName) { %>
                        <div class="mt-3">
                          <form action="/match/apex-legends" method="get">
                            <button class="btn btn-primary">Find Apex Legends Teammates</button>
                          </form>
                        </div>
                        <% } else { %>
                        <div class="mt-3">
                          <form action="/profile" method="get">
                            <button class="btn btn-primary">Link Apex Legends Account</button>
                          </form>
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">
                        <h3 class="mb-0">Fortnite Stats</h3>
                        <h4><%= fortniteName %></h4>
                        <p>Score per Match: <%= scorePerMatch %></p>
                        <p>Win Rate: <%= winRate %></p>
                        <p>K/D Ratio: <%= killRatio %></p>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h3 class="mb-0">Apex Legends Stats</h3>
                      <h4><%= apexName %></h4>
                      <p>Level: <%= level %></p>
                      <p>Kills: <%= kills %></p>
                      <p>Damage: <%= damage %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h3 class="mb-0">Preferences</h3>
                      <p>Duos: <%= duos %></p>
                      <p>Trios: <%= trios %></p>
                      <p>Squads: <%= squads %></p>
                      <p>Casual: <%= casual %></p>
                      <p>Ranked: <%= ranked %></p>
                      <p>Competitions: <%= competitions %></p>
                      <p>Exhibitions: <%= exhibitions %></p>
                      <p>Fun-Competitive Scale (0-100): <%= fcScale %></p>
                      <p>Risk-Conservative Scale (0-100): <%= rcScale %></p>
                    </div>
                  </div>
                    <div class="col-sm-9 text-secondary">
                    </div>
                  </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
